In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
#Mapping good way to add a column to the data frame
# Let's create a dframe to work with (Highest elevation cities in USA)
dframe = DataFrame({'city':['Alma','Brian Head','Fox Park'],
                    'altitude':[3158,3000,2762]}, index=["A", "B", "C"])

#Show
dframe

         city  altitude
A        Alma      3158
B  Brian Head      3000
C    Fox Park      2762

In [9]:
#Mapping good way to add a column to the data frame
# Let's create a dframe to work with (Highest elevation cities in USA)
dframe = DataFrame({'city':['Alma','Brian Head','Fox Park'],
                    'altitude':[3158,3000,2762]})

#Show
dframe

         city  altitude
0        Alma      3158
1  Brian Head      3000
2    Fox Park      2762

In [10]:
#Now let's say we wanted to add a column for the States, we can do that with a mapping.
state_map={'Alma':'Colorado','Brian Head':'Utah','Fox Park':'Wyoming'}

In [11]:
# Now we can map that data to our current dframe
dframe['state'] = dframe['city'].map(state_map)
dframe['state'] = dframe['city'].map(state_map)
#Show result
dframe

         city  altitude     state
0        Alma      3158  Colorado
1  Brian Head      3000      Utah
2    Fox Park      2762   Wyoming

In [ ]:
# Mapping is a great way to do element-wise transfomations and other data cleaning operations!