In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')
#method='ffill' filling values from the previous one

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -0.890112 -1.389403 -0.331082  0.799049  0.262093
B -1.059408  0.334042  0.228389  1.316648  0.501728
D -1.248087  1.331963 -1.570392 -3.044234  0.534461
E -0.684238 -0.709291 -1.087889  1.638232 -0.065630
F -0.453385 -1.026028 -0.003758 -0.265327  0.295890

In [15]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.890112 -1.389403 -0.331082  0.799049  0.262093
B -1.059408  0.334042  0.228389  1.316648  0.501728
C       NaN       NaN       NaN       NaN       NaN
D -1.248087  1.331963 -1.570392 -3.044234  0.534461
E -0.684238 -0.709291 -1.087889  1.638232 -0.065630
F -0.453385 -1.026028 -0.003758 -0.265327  0.295890

In [16]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']
#have to call columns specificaly
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.890112 -1.389403 -0.331082  0.799049  0.262093   NaN
B -1.059408  0.334042  0.228389  1.316648  0.501728   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.248087  1.331963 -1.570392 -3.044234  0.534461   NaN
E -0.684238 -0.709291 -1.087889  1.638232 -0.065630   NaN
F -0.453385 -1.026028 -0.003758 -0.265327  0.295890   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A -0.890112 -1.389403 -0.331082  0.799049  0.262093
B -1.059408  0.334042  0.228389  1.316648  0.501728
D -1.248087  1.331963 -1.570392 -3.044234  0.534461
E -0.684238 -0.709291 -1.087889  1.638232 -0.065630
F -0.453385 -1.026028 -0.003758 -0.265327  0.295890

In [28]:
#another method
dframe.loc[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.890112 -1.389403 -0.331082  0.799049  0.262093   NaN
B -1.059408  0.334042  0.228389  1.316648  0.501728   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.248087  1.331963 -1.570392 -3.044234  0.534461   NaN
E -0.684238 -0.709291 -1.087889  1.638232 -0.065630   NaN
F -0.453385 -1.026028 -0.003758 -0.265327  0.295890   NaN